<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Riven.ssm.mapper.AnswerRecordMapper" >

    <resultMap id="BaseResultMap" type="com.Riven.ssm.po.AnswerRecord" >
        <id column="RECORD_ID" property="recordId" jdbcType="DECIMAL" />
        <result column="OPENID" property="openid" jdbcType="VARCHAR" />
        <result column="START_TIME" property="startTime" jdbcType="VARCHAR" />
        <result column="END_TIME" property="endTime" jdbcType="VARCHAR" />
        <result column="QUESTION_SUM" property="questionSum" jdbcType="VARCHAR" />
        <result column="TRUE_QUESTIONS" property="trueQuestions" jdbcType="VARCHAR" />
        <result column="FALSE_QUESTION" property="falseQuestion" jdbcType="VARCHAR" />
        <result column="ANSWER_STATUS" property="answerStatus" jdbcType="VARCHAR" />
        <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        RECORD_ID, OPENID, START_TIME, END_TIME, QUESTION_SUM, TRUE_QUESTIONS, FALSE_QUESTION, 
        ANSWER_STATUS, RECORD_STATUS
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.Riven.ssm.po.AnswerRecordExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from ANSWER_RECORD
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from ANSWER_RECORD
        where RECORD_ID = #{recordId,jdbcType=DECIMAL}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from ANSWER_RECORD
        where RECORD_ID = #{recordId,jdbcType=DECIMAL}
    </delete>

    <delete id="deleteByExample" parameterType="com.Riven.ssm.po.AnswerRecordExample" >
        delete from ANSWER_RECORD
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.Riven.ssm.po.AnswerRecord" >
        insert into ANSWER_RECORD (RECORD_ID, OPENID, START_TIME, 
            END_TIME, QUESTION_SUM, TRUE_QUESTIONS, 
            FALSE_QUESTION, ANSWER_STATUS, RECORD_STATUS
            )
        values (#{recordId,jdbcType=DECIMAL}, #{openid,jdbcType=VARCHAR}, #{startTime,jdbcType=VARCHAR}, 
            #{endTime,jdbcType=VARCHAR}, #{questionSum,jdbcType=VARCHAR}, #{trueQuestions,jdbcType=VARCHAR}, 
            #{falseQuestion,jdbcType=VARCHAR}, #{answerStatus,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}
            )
    </insert>

    <insert id="insertSelective" parameterType="com.Riven.ssm.po.AnswerRecord" >
        insert into ANSWER_RECORD
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="recordId != null" >
                RECORD_ID,
            </if>
            <if test="openid != null" >
                OPENID,
            </if>
            <if test="startTime != null" >
                START_TIME,
            </if>
            <if test="endTime != null" >
                END_TIME,
            </if>
            <if test="questionSum != null" >
                QUESTION_SUM,
            </if>
            <if test="trueQuestions != null" >
                TRUE_QUESTIONS,
            </if>
            <if test="falseQuestion != null" >
                FALSE_QUESTION,
            </if>
            <if test="answerStatus != null" >
                ANSWER_STATUS,
            </if>
            <if test="recordStatus != null" >
                RECORD_STATUS,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="recordId != null" >
                #{recordId,jdbcType=DECIMAL},
            </if>
            <if test="openid != null" >
                #{openid,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null" >
                #{startTime,jdbcType=VARCHAR},
            </if>
            <if test="endTime != null" >
                #{endTime,jdbcType=VARCHAR},
            </if>
            <if test="questionSum != null" >
                #{questionSum,jdbcType=VARCHAR},
            </if>
            <if test="trueQuestions != null" >
                #{trueQuestions,jdbcType=VARCHAR},
            </if>
            <if test="falseQuestion != null" >
                #{falseQuestion,jdbcType=VARCHAR},
            </if>
            <if test="answerStatus != null" >
                #{answerStatus,jdbcType=VARCHAR},
            </if>
            <if test="recordStatus != null" >
                #{recordStatus,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.Riven.ssm.po.AnswerRecordExample" resultType="java.lang.Integer" >
        select count(*) from ANSWER_RECORD
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update ANSWER_RECORD
        <set >
            <if test="record.recordId != null" >
                RECORD_ID = #{record.recordId,jdbcType=DECIMAL},
            </if>
            <if test="record.openid != null" >
                OPENID = #{record.openid,jdbcType=VARCHAR},
            </if>
            <if test="record.startTime != null" >
                START_TIME = #{record.startTime,jdbcType=VARCHAR},
            </if>
            <if test="record.endTime != null" >
                END_TIME = #{record.endTime,jdbcType=VARCHAR},
            </if>
            <if test="record.questionSum != null" >
                QUESTION_SUM = #{record.questionSum,jdbcType=VARCHAR},
            </if>
            <if test="record.trueQuestions != null" >
                TRUE_QUESTIONS = #{record.trueQuestions,jdbcType=VARCHAR},
            </if>
            <if test="record.falseQuestion != null" >
                FALSE_QUESTION = #{record.falseQuestion,jdbcType=VARCHAR},
            </if>
            <if test="record.answerStatus != null" >
                ANSWER_STATUS = #{record.answerStatus,jdbcType=VARCHAR},
            </if>
            <if test="record.recordStatus != null" >
                RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update ANSWER_RECORD
        set RECORD_ID = #{record.recordId,jdbcType=DECIMAL},
            OPENID = #{record.openid,jdbcType=VARCHAR},
            START_TIME = #{record.startTime,jdbcType=VARCHAR},
            END_TIME = #{record.endTime,jdbcType=VARCHAR},
            QUESTION_SUM = #{record.questionSum,jdbcType=VARCHAR},
            TRUE_QUESTIONS = #{record.trueQuestions,jdbcType=VARCHAR},
            FALSE_QUESTION = #{record.falseQuestion,jdbcType=VARCHAR},
            ANSWER_STATUS = #{record.answerStatus,jdbcType=VARCHAR},
            RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.Riven.ssm.po.AnswerRecord" >
        update ANSWER_RECORD
        <set >
            <if test="openid != null" >
                OPENID = #{openid,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null" >
                START_TIME = #{startTime,jdbcType=VARCHAR},
            </if>
            <if test="endTime != null" >
                END_TIME = #{endTime,jdbcType=VARCHAR},
            </if>
            <if test="questionSum != null" >
                QUESTION_SUM = #{questionSum,jdbcType=VARCHAR},
            </if>
            <if test="trueQuestions != null" >
                TRUE_QUESTIONS = #{trueQuestions,jdbcType=VARCHAR},
            </if>
            <if test="falseQuestion != null" >
                FALSE_QUESTION = #{falseQuestion,jdbcType=VARCHAR},
            </if>
            <if test="answerStatus != null" >
                ANSWER_STATUS = #{answerStatus,jdbcType=VARCHAR},
            </if>
            <if test="recordStatus != null" >
                RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
            </if>
        </set>
        where RECORD_ID = #{recordId,jdbcType=DECIMAL}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.Riven.ssm.po.AnswerRecord" >
        update ANSWER_RECORD
        set OPENID = #{openid,jdbcType=VARCHAR},
            START_TIME = #{startTime,jdbcType=VARCHAR},
            END_TIME = #{endTime,jdbcType=VARCHAR},
            QUESTION_SUM = #{questionSum,jdbcType=VARCHAR},
            TRUE_QUESTIONS = #{trueQuestions,jdbcType=VARCHAR},
            FALSE_QUESTION = #{falseQuestion,jdbcType=VARCHAR},
            ANSWER_STATUS = #{answerStatus,jdbcType=VARCHAR},
            RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR}
        where RECORD_ID = #{recordId,jdbcType=DECIMAL}
    </update>
</mapper>